.footer {
    min-height: 30vh;
    max-height: 100%;
    background-color: darkseagreen;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    padding: 2rem 0;
}